@-webkit-keyframes chartjs-render-animation {
  from {
    opacity: 0.99;
  }
  to {
    opacity: 1;
  }
}

@keyframes chartjs-render-animation {
  from {
    opacity: 0.99;
  }
  to {
    opacity: 1;
  }
}

.chartjs-render-monitor {
  -webkit-animation: chartjs-render-animation 0.001s;
  animation: chartjs-render-animation 0.001s;
}

.side-nav .logo-sn {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.side-nav .logo-sn img {
  height: 38px;
}

.side-nav .search-form input[type='text'] {
  margin-top: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

body {
  background-color: #eee;
}

.accordion .card {
  margin-bottom: 1.2rem;
  box-shadow:
    0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.accordion .card .card-body {
  border-top: 1px solid #eee;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  background-color: rgba(255, 255, 255, 0.1);
}

form .md-form .form-control::placeholder {
  color: #e0ecae;
}

.badge-pill {
  padding: 0.6em;
  border-radius: 10rem;
  height: 22px;
}

.c-primary {
  color: #4285f4 !important;
}

.c-secondary {
  color: #a6c !important;
}

.c-success {
  color: #99b900 !important;
}

.c-dark-lime {
  color: #667a00 !important;
}

.c-info {
  color: #33b5e5 !important;
}

.c-warning {
  color: #fb3 !important;
}

.c-danger {
  color: #ff3547 !important;
}

.c-white {
  color: #ffffff !important;
}
.c-grey {
  color: #696969 !important;
}

.bc-deep-blue {
  background: #0085bf !important;
}

.bc-deep-lime {
  background: #99b900 !important;
}

.bc-deep-lime-trans {
  background: rgba(153, 185, 0, 0.85) !important;
}

.bc-light-blue {
  background: #edfcff !important;
}

.bc-white {
  background: #fff !important;
}

.bc-danger {
  background: #ff3547 !important;
}

.bc-active {
  background: #73f1ff !important;
}
.bc-inactive {
  background: #b4dade !important;
}
.bc-pending {
  background: #d8d8d8 !important;
}
.bc-dead {
  background: #636363 !important;
}

.odd-bg {
  background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn-ssm {
  padding: 0.2rem 1rem;
  font-size: 0.6rem;
}

/* card order image */

.card.card-cascade.narrower .view.view-cascade.order {
  margin-top: -1.25rem;
  margin-right: 25%;
  margin-left: 25%;
  background-color: #fff0;
  /* max-height: 100px; */
}

.card .card-reveal .card-title i,
.card-wrapper .card-rotating .card-title i.l {
  position: absolute;
  left: 0.63rem !important;
  right: auto !important;
  color: #9e9e9e;
}

.order-card a.r {
  margin: 0;
  position: absolute;
  right: 0.63rem !important;
  left: auto !important;
}

.order-card hr {
  margin: 0;
}

.order-card .ordStatus {
  /* height: 35px; */
  margin: inherit;
  width: 100%;
}

.order-card .ordShipper {
  width: 35px;
  margin-left: 5px;
}

.line_items {
  position: relative;
  /* overflow-y: scroll; */
  overflow-y: auto;
  max-height: 240px;
}

.line_items.short {
  max-height: 110px;
}
.line_items.fix {
  height: 110px;
}

.list-group-item {
  background-color: transparent;
}

.order-card .rotateRegion {
  position: absolute;
  bottom: -3px;
  right: 20px;
}

/* .order-card .img_title {
    position: absolute;
    bottom: 0;
    background-color: rgba(255,255,255,0.6);
  } */

.order-search .md-form {
  margin: 0;
}

.progress-dummy {
  margin-bottom: 1rem;
}

.l-font {
  font-size: large;
}
.x-font {
  font-size: x-large;
}
.xx-font {
  font-size: xx-large;
}
.xxx-font {
  font-size: 2.3em;
}
.ss-font {
  font-size: 1em;
}
.sss-font {
  font-size: 0.75em;
}
.ssss-font {
  font-size: 0.65em;
}

.fs-1 {
  font-size: calc(1.375rem + 1.5vw) !important;
}
.fs-2 {
  font-size: calc(1.325rem + 0.9vw) !important;
}
.fs-3 {
  font-size: calc(1.3rem + 0.6vw) !important;
}
.fs-4 {
  font-size: calc(1.275rem + 0.3vw) !important;
}
.fs-5 {
  font-size: 1.25rem !important;
}
.fs-6 {
  font-size: 1rem !important;
}

/* star rating */

.mdb-rating .oneStar {
  color: #eb3b00;
}

.mdb-rating .twoStars {
  color: #eb7600;
}

.mdb-rating .threeStars {
  color: #ebac00;
}

.mdb-rating .fourStars {
  color: #ebe700;
}

.mdb-rating .fiveStars {
  color: #b4eb00;
}

.w-80 {
  width: 80% !important;
}
.w-66 {
  width: 66% !important;
}
.w-60 {
  width: 60% !important;
}
.w-45 {
  width: 45% !important;
}
.w-40 {
  width: 40% !important;
}
.w-33 {
  width: 33% !important;
}
.w-30 {
  width: 30% !important;
}
.w-20 {
  width: 20% !important;
}
.w-15 {
  width: 15% !important;
}
.w-10 {
  width: 10% !important;
}

/* scenario */

.snrContainer {
  min-height: 300px;
  overflow: auto;
}

.snrMsgType {
  width: 100%;
}

.snr-remove {
  padding: 0 !important;
  background-color: #9c0000;
}

.snrMsgContent_ input[type='text'] {
  width: 80px;
}

.snrStepPayload_text {
  height: 40px;
}

.stepper .btn.snr-recv {
  color: #41bde8;
  background-color: #fff !important;
  margin: 0;
}

.stepper .btn.snr-recv.active {
  color: #fff;
  background-color: #41bde8 !important;
  margin: 0;
}

/* landing page */

/* .lp .btn-floating.btn-sm {
    width: 24px;
    height: 24px;
  } */

.lp .oo-title {
  min-width: 60%;
}

.lp .oo-btn {
  min-width: 90px;
}

.lp .list-group-item {
  padding: 0.25rem 0.5rem;
}

.lp-banner {
  /* height:160px; */
  background-repeat: no-repeat;
  background-size: cover;
}

.chip.chip-lg {
  height: 48px;
  line-height: 48px;
  border-radius: 24px;
}

.chip.chip-lg img {
  height: 48px;
  width: 48px;
}

.shipper-line-items {
  position: relative;
  overflow-y: auto;
  max-height: 200px;
}

.number-input.number-input {
  border: 1px solid #ced4da;
  width: 8.6rem;
  border-radius: 0.25rem;
}

.mdb-select.md-form.right input {
  text-align: right;
  padding-right: 18px;
}

/* ======================= SCROLLBAR =================== */

.scrollbar-dusty-grass::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbar-dusty-grass::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-dusty-grass::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #e4ffa6 0%, #80af00 100%);
  background-image: linear-gradient(120deg, #e4ffa6 0%, #80af00 100%);
}

.square::-webkit-scrollbar-track {
  border-radius: 0 !important;
}

.square::-webkit-scrollbar-thumb {
  border-radius: 0 !important;
}

.thin::-webkit-scrollbar {
  width: 6px;
}

/* ======================= status: gradient - border =================== */

.text-zl {
  color: #108dfb;
}

.text-fb {
  color: #c73aff;
}

.gradbg-lime {
  color: #fff;
  background: linear-gradient(40deg, #dee885, #577b00) !important;
}
.gradbg-lime2 {
  color: #fff;
  background: linear-gradient(40deg, #152100, #c4de00) !important;
}

.gradbg-messenger {
  color: #fff;
  background: linear-gradient(40deg, #2270b1, #4fb5dd) !important;
}

.gradbg-zalo {
  color: #fff;
  background: linear-gradient(40deg, #4fb5dd, #2270b1) !important;
}

.gradbg-chat {
  color: #fff;
  background: linear-gradient(0deg, #d0eefd, #0180c7) !important;
}

.gradbg-subcriber {
  color: #fff;
  background: linear-gradient(0deg, #ff6ec4, #7873f5) !important;
}

.gradbg-store {
  color: #fff;
  background: linear-gradient(40deg, #303f9f, #45cafc) !important;
}

.gradbg-light-blue {
  color: #fff;
  background: linear-gradient(40deg, #638390, #7ad4ff) !important;
}

.gradbg-indigo {
  color: #fff;
  background: linear-gradient(40deg, #303f9f, #45cafc) !important;
}

.gradbg-purple {
  color: #fff;
  background: linear-gradient(40deg, #502775, #d1c3ff) !important;
}

.gradbg-red {
  color: #fff;
  background: linear-gradient(40deg, #6d091e, #ff6347) !important;
}

.gradbg-orange {
  color: #fff;
  background: linear-gradient(40deg, #ce5403, #ffbc8f) !important;
}

.gradbg-yellow {
  color: #fff;
  background: linear-gradient(40deg, #9e6e07, #fff124) !important;
}

.gradbg-cyan {
  color: #fff;
  background: linear-gradient(40deg, #5b81a5, #19e4ff) !important;
}

.gradbg-light-green {
  color: #fff;
  background: linear-gradient(40deg, #107b19, #49de00) !important;
}

.gradbg-dark-green {
  color: #fff;
  background: linear-gradient(40deg, #163805, #76a015) !important;
}

.gradbg-brown {
  color: #fff;
  background: linear-gradient(40deg, #963d00, #b38b70) !important;
}

.gradbg-dark-brown {
  color: #fff;
  background: linear-gradient(40deg, #231000, #ca8c00) !important;
}

.gradbg-grey {
  color: #fff;
  background: linear-gradient(40deg, #2e2c2c, #cec2c2) !important;
}
.gradbg-dark-grey {
  color: #fff;
  background: linear-gradient(40deg, #242424, #767676) !important;
}
.gradbg-light-grey {
  color: #fff;
  background: linear-gradient(40deg, #aaaaaa, #ffffff) !important;
}

.border-light-blue {
  border-width: 3px !important;
  border-color: #8ad0ff !important;
}

.border-indigo {
  border-width: 3px !important;
  border-color: #3b8add !important;
}

.border-red {
  border-width: 3px !important;
  border-color: #790000 !important;
}

.border-yellow {
  border-width: 3px !important;
  border-color: #c0bd00 !important;
}

.border-cyan {
  border-width: 3px !important;
  border-color: #2cf8ff !important;
}

.border-light-green {
  border-width: 3px !important;
  border-color: #519700 !important;
}

.border-dark-green {
  border-width: 3px !important;
  border-color: #1e540e !important;
}

.border-grey {
  border-width: 3px !important;
  border-color: #434343 !important;
}

.border-light-grey {
  border-width: 3px !important;
  border-color: #c5c5c5 !important;
}

.status-light-blue {
  background: #006992 !important;
}

.status-indigo {
  background: #30649f !important;
}

.status-red {
  background: #910c29 !important;
}

.status-yellow {
  background: #be8509 !important;
}

.status-cyan {
  background: #0ba6b1 !important;
}

.status-light-green {
  background: #2ba035 !important;
}

.status-dark-green {
  background: #255c09 !important;
}

.status-grey {
  background: #504d4d !important;
}

.status-light-grey {
  background: #d4d4d4 !important;
}
/* 
.pattern-1 {
  background: url('/css/img/01.png');
  background-attachment: fixed;
}
.pattern-2 {
  background: url('/css/img/02.png');
  background-attachment: fixed;
}
.pattern-3 {
  background: url('/css/img/03.png');
  background-attachment: fixed;
}
.pattern-4 {
  background: url('/css/img/04.png');
  background-attachment: fixed;
}
.pattern-5 {
  background: url('/css/img/05.png');
  background-attachment: fixed;
}
.pattern-6 {
  background: url('/css/img/06.png');
  background-attachment: fixed;
}
.pattern-7 {
  background: url('/css/img/07.png');
  background-attachment: fixed;
}
.pattern-8 {
  background: url('/css/img/08.png');
  background-attachment: fixed;
}
.pattern-9 {
  background: url('/css/img/09.png');
  background-attachment: fixed;
} */
/* ======================= OA Token =================== */
img.pf {
  width: 32px;
  height: 32px;
}
img.list-oa {
  width: 64px;
}
/* ======================= f12 =================== */
.cpu_0 {
  background-color: #008c38 !important;
}
.cpu_25 {
  background-color: #4b8c00 !important;
}
.cpu_50 {
  background-color: #9aad00 !important;
}
.cpu_75 {
  background-color: #aa1a1a !important;
}

.shd {
  -webkit-box-shadow:
    0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.mwm-box {
  border: 2px solid rgb(140 171 0);
  min-width: 105px;
}
.flex-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-end;
  height: 100%;
}
.flex-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-start;
  height: 100%;
}
.badge.ssm {
  padding: 2px;
  font-size: 10px;
}
.badge.sm {
  padding: 3px;
  font-size: 12px;
}
.badge.md {
  padding: 4px;
  font-size: 16px;
}
.counter.tank {
  margin-left: -43px;
}

.vtop {
  vertical-align: top;
}

.b-atomic {
  /* background-image: url('/img/F12/wax/atomichub2.png'); */
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: right;
  vertical-align: top;
}
.b-alcor {
  /* background-image: url('/img/F12/wax/alcor2.png'); */
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: left;
  vertical-align: top;
}
.b-fw {
  /* background-image: url('/img/F12/wax/fw2.png'); */
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: left;
  vertical-align: top;
}

.token_FWG {
  color: #6e6100 !important;
  border: 2px solid #b9ab00;
}
.token_FWW {
  color: #61472c !important;
  border: 2px solid #9a4e00;
}
.token_FWF {
  color: #921017 !important;
  border: 2px solid #921017;
}
.token_TON {
  color: #00afe4 !important;
  border: 2px solid #005892;
}
.fw_24h_img {
  height: 11px !important;
  width: 11px !important;
  float: right !important;
  position: relative !important;
  right: -16px !important;
}
.fw_price {
  max-width: 70px;
}
.fw_mat_img {
  display: inline;
  height: 18px;
}
.fw_craft img {
  display: inline;
}
.fw_fee_unk {
  background-color: #414141 !important;
}
.fw_fee_5 {
  background-color: #008c38 !important;
}
.fw_fee_6 {
  background-color: #9aad00 !important;
}
.fw_fee_7 {
  background-color: #da4600 !important;
}
.fw_fee_8 {
  background-color: #ff0000 !important;
}

.fw_beggar {
  /* background-image: url('/img/F12/fw/beggar2.png'); */
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: left;
}
.fw_beggar_bc {
  background-color: #807258;
}
.fw_warning_bc {
  background-color: #ceb717;
}

.fw_topBox {
  border: 1px solid rgb(233, 77, 64);
  min-width: 65px;
  font-size: 0.75em;
}

/* .scrolling-navbar .token_FWF {
    display: none;
  }
  .scrolling-navbar .token_FWW {
    display: none;
  }
  .scrolling-navbar .token_FWG {
    display: none;
  }
  
  .scrolling-navbar.top-nav-collapse .token_FWF.show {
    display: inline-block;
  }
  .scrolling-navbar.top-nav-collapse .token_FWW.show {
    display: inline-block;
  }
  .scrolling-navbar.top-nav-collapse .token_FWG.show {
    display: inline-block;
  }
  .scrolling-navbar.top-nav-collapse #mainTab.show {
    display: inline-block;
  } */

.c-rarity-1 {
  color: #696969 !important;
}
.c-rarity-2 {
  color: #166fb9 !important;
}
.c-rarity-3 {
  color: #8200b1 !important;
}
.c-rarity-4 {
  color: #a23c00 !important;
}

.c-rating-1 {
  color: #90918b !important;
}
.c-rating-2 {
  color: #a1aa4e !important;
}
.c-rating-3 {
  color: #cae000 !important;
}

.bc-rating-bronze {
  background: #5e3910 !important;
}
.bc-rating-silver {
  background: #ffffff !important;
}

.sps_topBox {
  border: 1px solid rgb(115, 64, 233);
  min-width: 65px;
  font-size: 0.75em;
}
